@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import "compass/css3";

@media only screen and (max-width: 600px) {
    #content-1, #content-2, #content-3, #content-4 {
        height: 100vw;
    }
  }

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'sans-serif';
}

#content-1, #content-2, #content-3, #content-4 {
    height: 100vh;
    min-height: 800px;
    min-width: 1200px;
    text-align: center;
    overflow: hidden;
}

#content-1 {
    background-color: #232156;
}

#content-2 {
    background-color: #FFC965;
}

#content-3 {
    background-color: #921717;
    color: white;
}

#content-4 {
    background-color: #BADDB9;
}

#header {
    margin-top: 40vh;
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
}

#text-content-1 {
    margin-left: 10%;
    margin-right: 10%;
}

#text-content-2, #text-content-3, #text-content-4 {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    margin-top: 100px;
}

#text {
    font-size: 36px;
}

#navMenu {
    position: fixed;
    top: 20px;
    left: 80px;
}

/** An Awesome Gooey Menu from Lucas Bebber! https://codepen.io/lbebber/pen/pvwZJp **/

a {
	color: inherit;
}

h1, h2, h3, h4 {
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

h1 {
	font-size: 3em;
}

.menu {
    filter: url('#shadowed-goo');
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.menu-item, .menu-open-button {
	 background: #00bcd4;
	 border-radius: 100%;
	 width: 80px;
	 height: 80px;
	 margin-left: -40px;
	 position: absolute;
     top: 20px;
	 color: white;
	 text-align: center;
	 line-height: 80px;
	 transform: translate3d(0, 0, 0);
     transition: transform ease-out 200ms;
     font-size: 16px;
     text-decoration: none;
     cursor: pointer;
}

.menu-open {
	 display: none;
}

.hamburger {
	 width: 25px;
	 height: 3px;
	 background: white;
	 display: block;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 margin-left: -12.5px;
	 margin-top: -1.5px;
	 transition: transform 200ms;
}

.hamburger-1 {
	 transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
	 transform: translate3d(0, 0, 0);
}

.hamburger-3 {
	 transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
	 transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
	 transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
	 transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
	 position: absolute;
	 left: 50%;
	 margin-left: -80px;
	 padding-top: 20px;
	 padding-left: 80px;
	 width: 650px;
	 height: 150px;
	 box-sizing: border-box;
	 font-size: 20px;
	 text-align: left;
}

.menu-item:hover {
	 background: white;
	 color: #00bcd4;
}

.menu-item:nth-child(3) {
	 transition-duration: 180ms;
}

.menu-item:nth-child(4) {
	 transition-duration: 180ms;
}

.menu-item:nth-child(5) {
	 transition-duration: 180ms;
}

.menu-item:nth-child(6) {
	 transition-duration: 180ms;
}

.menu-open-button {
	 z-index: 2;
	 transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	 transition-duration: 400ms;
	 transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	 cursor: pointer;
}

.menu-open-button:hover {
	 transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
	 transition-timing-function: linear;
	 transition-duration: 200ms;
	 transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
	 transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
	 transition-duration: 190ms;
	 transform: translate3d(110px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
	 transition-duration: 290ms;
	 transform: translate3d(220px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
	 transition-duration: 390ms;
	 transform: translate3d(330px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
	 transition-duration: 490ms;
	 transform: translate3d(440px, 0, 0);
}
 